version: '3'
services:
  authentication:
    build: ./backend_authentication
    env_file:
      - .env
    ports:
     - "5000:5000"
    volumes:
     - ./backend_authentication:/code
    depends_on:
      - redis
  redis:
    image: "redis:alpine"
  characters:
    build: ./backend_characters
    ports:
      - "7000:7000"
    volumes:
      - ./backend_characters:/code
    depends_on:
      - authentication
  graphql:
    build: ./backend_graphql
    env_file:
      - .env
    ports:
      - "8081:8080"
    volumes:
      - ./backend_graphql:/code
    depends_on:
      - characters
