version: '3'
services:
  authentication:
    build: ./backend_authentication
    env_file:
      - .env
    ports:
     - "5000:5000"
    volumes:
     - ./backend_authentication:/code
  redis:
    image: "redis:alpine"
  characters:
    build: ./backend_characters
    ports:
      - "7000:7000"
    volumes:
      - ./backend_characters:/code
