.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.App-logo {
  transform: rotate(-30deg);
  height: 15vmin;
  padding: 2em;
}

.App-header {
  background-color: #22262a;
  border-bottom: 1px solid #393939;
  min-height: calc(80vh - 35px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.arrow_down {
    position: absolute;
    bottom: 0;
    background: #fafafa;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    color: #22262a;
    animation: Growth infinite 5s linear;
}

.CharacterScreen__wrapper {
  background: #22262a;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 2*30px);
  padding: 30px;
}

.CharacterScreen__firstLine {
  flex: 1;
}

.CharacterScreen__firstLine span {
  display: flex;
  cursor: pointer;
  width: fit-content;
}

.CharacterScreen__firstLine i {
  margin-right: 20px;
}

.CharacterScreen__content {
    display: flex;
    flex: 10;
}

.CharacterScreen__content > div {
  flex: 1;
}

.CharacterScreen__content--text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.CharacterScreen__content--text p {
  margin-right: 30px;
}

.CharacterScreen__image {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-clip: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-blend-mode: inherit;
    background-size: cover;
}

.CharacterScreen__bottom {
  flex: 1;
}

.loading {
  background: #22262a;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-log.is-loading {
  animation: Growth 5s infinite;
}

.box {
  height: 100px;
  width: 100px;
}

#profile {
  background: url(https://scontent.fbsb9-1.fna.fbcdn.net/v/t1.0-9/40685551_2349472841770472_4655518801087954944_n.jpg);
  background-size: cover;
  z-index: 1;
}

.layer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}

.bump {
  border: 1px solid #00000045;
  background: #0000001a;
}

.bump:nth-child(1) {
  animation: leaves-in 2s ease-in-out infinite alternate;
}

.bump:nth-child(2) {
  animation: leaves-out 2.75s ease-in-out infinite alternate;
}

@keyframes leaves-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(2);
      opacity: 1;
    }
}

@keyframes leaves-out {
    0% {
      transform: scale(2);
      opacity: 1;
    }
    100% {
        transform: scale(0);
      opacity: 0;
    }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2)
  }
}

@keyframes Growth {
  0% {
      transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
