/**
vermelho: #de4432
branco: #fefefe
background: #22262a;
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.character-list {
  padding-top: 30px;
  background: #181618;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-box {
  height: 346px;
  width: 195px;
  margin: 0.5em;
  cursor: pointer;
  transition: .5s;
}

.character-image {
  transform: scale(0.95);
  position: relative;
  top: -346px;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: .5s;
  border-radius: 5px;
  background-clip: unset;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-blend-mode: inherit;
  background-size: cover;
}

.character-name {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #1816188c; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.character-name h2 {
  color: #fafafa;
  padding: 2em;
  transition: .5s;
}

.character-box:hover .character-image {
  transform: scale(1)
}

.character-box:hover .character-name h2 {
  transform: scale(0.99)
}
